In [1]:
import numpy as np
import pandas as pd
from sqlalchemy import create_engine
import re

### Store CSV into DataFrame

In [2]:
csv1_file = "Resources/Table_1.7.csv"
TrainingEdExp1_df = pd.read_csv(csv1_file, header=[1])
TrainingEdExp1_df.head(5)

,2019 National Employment Matrix title and code,Unnamed: 1,Occupation\ntype,Employment,Unnamed: 4,"Employment change, 2019-29",Unnamed: 6,"Percent self employed, 2019","Occupational openings, 2019-29 annual average","Median annual wage, 2019(1)",Typical education needed for entry,Work experience in a related occupation,Typical on-the-job training needed to attain competency in the occupation
0,NaN,NaN,NaN,2019,2029,Number,Percent,NaN,NaN,NaN,NaN,NaN,NaN
1,"Total, all occupations",00-0000,Summary,"162,795.6","168,834.7","6,039.2",3.7,5.8,"17,454.3","$39,810",—,—,—
2,Management occupations,11-0000,Summary,"10,697.2","11,202.2",505.0,4.7,18.6,843.0,"$105,660",—,—,—
3,Top executives,11-1000,Summary,"2,828.0","2,946.3",118.3,4.2,3.0,222.2,"$103,230",—,—,—
4,Chief executives,11-1011,Line item,287.9,259.1,-28.7,-10.0,24.2,13.9,"$184,460",Bachelor's degree,5 years or more,None

In [3]:
list(TrainingEdExp1_df.columns)

['2019 National Employment Matrix title and code',
 'Unnamed: 1',
 'Occupation\ntype',
 'Employment',
 'Unnamed: 4',
 'Employment change, 2019-29',
 'Unnamed: 6',
 'Percent self employed, 2019',
 'Occupational openings, 2019-29 annual average',
 'Median annual wage, 2019(1)',
 'Typical education needed for entry',
 'Work experience in a related occupation',
 'Typical on-the-job training needed to attain competency in the occupation']

In [4]:
TrainingEdExp1_df = TrainingEdExp1_df.rename(columns = {
    "2019 National Employment Matrix title and code" : "Employment Matrix Title",
    "Unnamed: 1" : "Employment Matrix Code"
})

list(TrainingEdExp1_df.columns)

['Employment Matrix Title',
 'Employment Matrix Code',
 'Occupation\ntype',
 'Employment',
 'Unnamed: 4',
 'Employment change, 2019-29',
 'Unnamed: 6',
 'Percent self employed, 2019',
 'Occupational openings, 2019-29 annual average',
 'Median annual wage, 2019(1)',
 'Typical education needed for entry',
 'Work experience in a related occupation',
 'Typical on-the-job training needed to attain competency in the occupation']

In [5]:
TrainingEdExp1a_df = TrainingEdExp1_df[['Employment Matrix Title','Employment Matrix Code','Typical education needed for entry',
 'Work experience in a related occupation','Typical on-the-job training needed to attain competency in the occupation']]
TrainingEdExp1a_df.head(5)
TrainingEdExp1a_df.dtypes

Employment Matrix Title                                                      object
Employment Matrix Code                                                       object
Typical education needed for entry                                           object
Work experience in a related occupation                                      object
Typical on-the-job training needed to attain competency in the occupation    object
dtype: object

In [6]:
TrainingEdExp1b_df = TrainingEdExp1a_df[TrainingEdExp1a_df["Employment Matrix Code"].str.match("15-*") == True]
TrainingEdExp1c_df = TrainingEdExp1a_df[TrainingEdExp1a_df["Employment Matrix Code"].str.match("23-*") == True]
TrainingEdExp1d_df = TrainingEdExp1a_df[TrainingEdExp1a_df["Employment Matrix Code"].str.match("25-*") == True]
TrainingEdExp1e_df = TrainingEdExp1a_df[TrainingEdExp1a_df["Employment Matrix Code"].str.match("29-*") == True]
TrainingEdExp1f_df = TrainingEdExp1a_df[TrainingEdExp1a_df["Employment Matrix Code"].str.match("31-*") == True]
TrainingEdExp1g_df = TrainingEdExp1a_df[TrainingEdExp1a_df["Employment Matrix Code"].str.match("41-*") == True]
TrainingEdExp1FINAL_df = TrainingEdExp1b_df.append(TrainingEdExp1c_df).append(TrainingEdExp1d_df).append(TrainingEdExp1e_df).append(TrainingEdExp1f_df).append(TrainingEdExp1g_df)
TrainingEdExp1FINAL_df["Employment Matrix Code"]
TrainingEdExp1FINAL_df = TrainingEdExp1FINAL_df.rename(columns = {'Work experience in a related occupation' : "Related Work Experience",
'Typical on-the-job training needed to attain competency in the occupation' : 'Typical on-the-job training'})
TrainingEdExp1FINAL_df.head(5)
TrainingEdExp1FINAL_df.dtypes
TrainingEdExp1FINAL_df.to_csv("TrainingEdExp1FINAL.csv")

In [7]:
csv2_file = "Resources/Table_5.3.csv"
TrainingEdExp2_df = pd.read_csv(csv2_file, header=[1])
TrainingEdExp2_df.head(5)

,2019 National Employment Matrix title and code,Unnamed: 1,Less than high school diploma,High school diploma or equivalent,"Some college, no degree",Associate's degree,Bachelor's degree,Master's degree,Doctoral or professional degree
0,"Total, all occupations",00-0000,8.1,23.6,20.3,9.6,23.5,10.5,4.4
1,Chief executives(1),11-1011,1.4,8.6,14.5,5.4,39.9,23.3,6.9
2,General and operations managers,11-1021,2.6,17.2,25.5,9.7,32.5,11.0,1.5
3,Legislators(1),11-1031,1.4,8.6,14.5,5.4,39.9,23.3,6.9
4,Advertising and promotions managers,11-2011,0.5,6.2,10.9,5.8,61.6,12.9,2.2

In [8]:
list(TrainingEdExp2_df.columns)

['2019 National Employment Matrix title and code',
 'Unnamed: 1',
 'Less than high school diploma',
 'High school diploma or equivalent',
 'Some college, no degree',
 "Associate's degree",
 "Bachelor's degree",
 "Master's degree",
 'Doctoral or professional degree']

In [9]:
TrainingEdExp2_df = TrainingEdExp2_df.rename(columns = {
    "2019 National Employment Matrix title and code" : "Employment Matrix Title",
    "Unnamed: 1" : "Employment Matrix Code",
})

list(TrainingEdExp2_df.columns)

TrainingEdExp2_df = TrainingEdExp2_df[['Employment Matrix Code','Less than high school diploma','High school diploma or equivalent','Some college, no degree',"Associate's degree","Bachelor's degree","Master's degree",'Doctoral or professional degree']]
TrainingEdExp2_df.head(5)

,Employment Matrix Code,Less than high school diploma,High school diploma or equivalent,"Some college, no degree",Associate's degree,Bachelor's degree,Master's degree,Doctoral or professional degree
0,00-0000,8.1,23.6,20.3,9.6,23.5,10.5,4.4
1,11-1011,1.4,8.6,14.5,5.4,39.9,23.3,6.9
2,11-1021,2.6,17.2,25.5,9.7,32.5,11.0,1.5
3,11-1031,1.4,8.6,14.5,5.4,39.9,23.3,6.9
4,11-2011,0.5,6.2,10.9,5.8,61.6,12.9,2.2

In [10]:
TrainingEdExp2b_df = TrainingEdExp2_df[TrainingEdExp2_df["Employment Matrix Code"].str.match("15-*") == True]
TrainingEdExp2c_df = TrainingEdExp2_df[TrainingEdExp2_df["Employment Matrix Code"].str.match("23-*") == True]
TrainingEdExp2d_df = TrainingEdExp2_df[TrainingEdExp2_df["Employment Matrix Code"].str.match("25-*") == True]
TrainingEdExp2e_df = TrainingEdExp2_df[TrainingEdExp2_df["Employment Matrix Code"].str.match("29-*") == True]
TrainingEdExp2f_df = TrainingEdExp2_df[TrainingEdExp2_df["Employment Matrix Code"].str.match("31-*") == True]
TrainingEdExp2g_df = TrainingEdExp2_df[TrainingEdExp2_df["Employment Matrix Code"].str.match("41-*") == True]
TrainingEdExp2FINAL_df = TrainingEdExp2b_df.append(TrainingEdExp2c_df).append(TrainingEdExp2d_df).append(TrainingEdExp2e_df).append(TrainingEdExp2f_df).append(TrainingEdExp2g_df)
TrainingEdExp2FINAL_df["Employment Matrix Code"]
TrainingEdExp2FINAL_df.dtypes
TrainingEdExp2FINAL_df.to_csv("TrainingEdExp2FINAL.csv")

In [11]:
#Merge TrainingEdExp1FINAL_df & TrainingEdExp2FINAL_df.  
TraEdExp_FINAL_df = pd.merge(TrainingEdExp1FINAL_df, TrainingEdExp2FINAL_df, on="Employment Matrix Code", how="outer")
TraEdExp_FINAL_df

,Employment Matrix Title,Employment Matrix Code,Typical education needed for entry,Related Work Experience,Typical on-the-job training,Less than high school diploma,High school diploma or equivalent,"Some college, no degree",Associate's degree,Bachelor's degree,Master's degree,Doctoral or professional degree
0,Computer and mathematical occupations,15-0000,—,—,—,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Computer occupations,15-1200,—,—,—,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Computer and information analysts,15-1210,—,—,—,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Computer systems analysts,15-1211,Bachelor's degree,None,None,0.5,5.4,12.8,7.8,46.4,24.0,3.1
4,Information security analysts,15-1212,Bachelor's degree,Less than 5 years,None,0.8,4.2,17.2,10.1,42.1,23.3,2.2
...,...,...,...,...,...,...,...,...,...,...,...,...
240,Sales engineers,41-9031,Bachelor's degree,None,Moderate-term on-the-job training,0.5,2.8,13.8,8.0,55.3,16.7,2.9
241,Telemarketers,41-9041,No formal educational credential,None,Short-term on-the-job training,5.4,30.7,33.6,10.8,15.5,3.5,0.5
242,Miscellaneous sales and related workers,41-9090,—,—,—,NaN,NaN,NaN,NaN,NaN,NaN,NaN
243,"Door-to-door sales workers, news and street ve...",41-9091,No formal educational credential,None,Short-term on-the-job training,10.5,28.2,26.0,7.7,20.7,5.6,1.3
244,"Sales and related workers, all other",41-9099,High school diploma or equivalent,None,None,3.9,19.1,19.7,8.0,37.6,10.1,1.6

In [12]:
#Reorder columns and drop all rows with nulls.  
list(TraEdExp_FINAL_df.columns)

TraEdExp_FINAL_df = TraEdExp_FINAL_df[['Employment Matrix Title','Employment Matrix Code','Typical education needed for entry','Less than high school diploma','High school diploma or equivalent','Some college, no degree',"Associate's degree","Bachelor's degree","Master's degree",'Doctoral or professional degree', 'Related Work Experience','Typical on-the-job training']]

TraEdExp_FINAL_df.head(5) 

TraEdExp_FINAL_df = TraEdExp_FINAL_df.dropna()

TraEdExp_FINAL_df

,Employment Matrix Title,Employment Matrix Code,Typical education needed for entry,Less than high school diploma,High school diploma or equivalent,"Some college, no degree",Associate's degree,Bachelor's degree,Master's degree,Doctoral or professional degree,Related Work Experience,Typical on-the-job training
3,Computer systems analysts,15-1211,Bachelor's degree,0.5,5.4,12.8,7.8,46.4,24.0,3.1,None,None
4,Information security analysts,15-1212,Bachelor's degree,0.8,4.2,17.2,10.1,42.1,23.3,2.2,Less than 5 years,None
5,Computer and information research scientists,15-1221,Master's degree,0.0,0.9,5.9,3.7,33.7,35.1,20.8,None,None
7,Computer network support specialists,15-1231,Associate's degree,0.8,9.9,25.2,15.5,37.0,10.7,1.0,None,None
8,Computer user support specialists,15-1232,"Some college, no degree",0.8,9.9,25.2,15.5,37.0,10.7,1.0,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...
239,Real estate sales agents,41-9022,High school diploma or equivalent,1.1,11.8,26.2,10.6,38.6,9.6,2.1,None,Moderate-term on-the-job training
240,Sales engineers,41-9031,Bachelor's degree,0.5,2.8,13.8,8.0,55.3,16.7,2.9,None,Moderate-term on-the-job training
241,Telemarketers,41-9041,No formal educational credential,5.4,30.7,33.6,10.8,15.5,3.5,0.5,None,Short-term on-the-job training
243,"Door-to-door sales workers, news and street ve...",41-9091,No formal educational credential,10.5,28.2,26.0,7.7,20.7,5.6,1.3,None,Short-term on-the-job training
244,"Sales and related workers, all other",41-9099,High school diploma or equivalent,3.9,19.1,19.7,8.0,37.6,10.1,1.6,None,None

In [13]:
TraEdExp_FINAL_df.dtypes

Employment Matrix Title                object
Employment Matrix Code                 object
Typical education needed for entry     object
Less than high school diploma         float64
High school diploma or equivalent     float64
Some college, no degree               float64
Associate's degree                    float64
Bachelor's degree                     float64
Master's degree                       float64
Doctoral or professional degree       float64
Related Work Experience                object
Typical on-the-job training            object
dtype: object

In [14]:
TraEdExp_FINAL_df.to_csv("TrainingEduationExperience.csv")

In [15]:
#Create Employment Matrix Title with Employment Matrix Code.
Reference_df = TraEdExp_FINAL_df[["Employment Matrix Title", "Employment Matrix Code"]]
Reference_df.to_csv("EmpTitle_Code.csv")